[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CRISPRball"]
	path = CRISPRball
	url = https://github.com/j-andrews7/crisprball
